{% extends 'base.html'%}
{% block contenido %}
  <div class="content">
      <div class="row-fluid">
        <div class="span4">
          <label>MIS LISTAS:</label>
          <select multiple="multiple" id="lista_de_listas" name="lista_de_listas">
          </select>
        </div>
        <div class="span4">
          <label>LISTA DE CANCIONES</label>
          <select multiple="multiple" id="lista_canciones" name="lista_canciones">
          </select>
        </div>
        <div class="span4">
          
        </div>
      <div>
  </div>
  <div class="content" id="ref_url" name="ref_url">

  </div>
{% endblock %}
